body{margin-top:20px;}
a{text-decoration: none;
color: blue;}
/* start post with comment style */
.sender-name{
    font-weight: bold;float:left;
}
.receiver-name{
    font-weight: bold;float: right;
}
.post-show{
    background: rgb(236, 235, 235);border-radius:13px;height: 100%;width:50%;margin:auto;margin-top:20px;
}
.post-show u{
    text-transform: capitalize;
}
.post-show p{
    color: black;
}
.date-post{
    font-size:10px;
}
.send-comment-btn,.send-reply-btn{
    padding: 10px; min-width: 40px;position: absolute;background: rgb(236, 235, 235);border-radius:15px;
}
.send-reply-btn{
    display:none;
}
.send-comment-btn i{
    color:blue;
}
.comment-form,.reply-form{
    text-indent:40px;background: rgb(236, 235, 235);border-radius:15px;padding: 10px;width:50%;
}
.reply-form{
    display:none;
}
.container-comment{
    height: 100%;width:50%;margin:auto;
}
.comment{
    background: rgb(236, 235, 235);border-radius:13px;padding:7px;padding-bottom:0px;margin-bottom:0px;width:fit-content;
}
.comment-name-user{
    color:black;font-weight:bold;font-size:15px;
}
.comment-content{
    font-size:13px;
}
.comment-reply-word{
    color:grey;font-weight:bold;font-size:9px;margin-left:0;padding-left:0;
}
.comment-date{
    color:grey;font-weight:bold;font-size:9px;margin-left:0;
}
/* end post with comment style */
/* start chat style */
.card {
    border: 0;
    background: #f4f5fb;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 2rem;
    box-shadow: none;
}
.friends-section{
    text-align:center;width:28%;background: #e6e9ec;float:left;margin-top:30px;overflow:auto;
}
.count-unread-message{
    color:black;font-weight:bold;
}
.unread-friend-name{
    text-decoration: none;color:black;font-weight:bold;
}
.friend-name,.mygroup{
    text-decoration: none;color:blue;font-weight:bold;
}
.mygroup{
    text-decoration: underline;
}
.chat-section{
    width:70%;float:right;
}
.chat-section h5{
    text-align: center;
}
.chat-send-btn{
    color: white;margin-bottom:13px;
}
.chat-send-btn i {
    color:blue;
 }
 .message-content{
    background: white;margin:auto;
 }
 .message-date-receiver{
    font-size: 10px;float: left;
 }
 .message-date-sender{
    font-size: 10px;float: right;
 }
/* end chat style */

/* start order style */
#myTab,#Personal,#contact,#Qualifications,#pay{
    width:60%;margin:auto;margin-top:5px;
}
form .input,form .form-select{
    border-color: blue;
}
/* start fullorder style */
.h1-fullorder{
    text-align: center;font-weight:bold;text-decoration:underline;margin-top:5px;
}
.input-fullorder{
    width:fit-content;text-align:center;
}
.p-fullorder{
    text-align:center;font-size:13px;font-weight:bold;
}
.status{
   float:right;width:15%;
}



